* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  position: absolute;
  left: 72%;
  padding: 5px 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-toggle {
  
  background-color: transparent;
  color: white;
  border: 2px solid #fff; 
  padding: 8px 12px;
  cursor: pointer;
  font-size: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  height: 40px;
  
}

.menu-toggle:hover {
  background-color: var(--cor-primaria-clara); 
}

.menu-toggle:before {
  content: '☰'; 
  font-size: 22px;
  transition: transform 0.3s ease;
  letter-spacing: 10px;
  
}

.menu-toggle.open:before {
  content: '×'; 
}

.menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
  position: absolute;
  top: 100%; 
  left: 0;
  right: 0; 
  background-color: #c6ccca;
    border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
  z-index: 20;
  transition: opacity 0.8 ease, transform 0.3s ease;
  width: 100px;
}

.menu-list.open {
  display: block;
  opacity: 1;
  transform: translateY(10px); 
}

.menu-item {
  padding: 10px 5px;
  border-bottom: 1px solid #495057;
}

.menu-item:last-child {
  border-bottom: none;
}

.menu-item a {
  color: black;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease, padding-left 0.3s ease;
  font-size: 15px;
  margin: 0px 3px;
}

.menu-item a:hover {
  background-color: transparent; 
  padding-left: 15px; 
}

.menu-item.dropdown > a::after {
  content: ' ▼'; 
  font-size: 12px;
  margin-left: 5px;
}

.menu-item.dropdown.open .dropdown-list {
  display: block;
  opacity: 1;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #495057;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.dropdown-list .menu-item a {
  padding: 10px 20px;
  font-size: 14px;
}

.dropdown-list .menu-item a:hover {
  background-color: #28a745; 
}