.minhas_salas{
  display: flex;
  justify-content:stretch;
  flex-direction: column;
}

.dados_minhas_salas{
  text-align: center;
  line-height: 1.4em;
  
}
.item-cliente-imagem{
  width:300px;
  height:200px;
  margin-right: 10px;
  margin-left: 10px;
  
}

li { list-style-type: none; }

