.footer {
  position: absolute;
  top: 65%;
  left: 0; 
  right: 0; 
  width: 100%;
  background-color: #8CC8B2;
  padding: 5px 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 2px 5px rgba(126, 196, 133, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  width: 100%; /* Faz a área de conteúdo ocupar 100% da largura disponível */
  max-width: none; /* Remove qualquer limitação de largura */
  padding: 0 20px; /* Adiciona padding para evitar que o conteúdo fique colado nas bordas */
}

.footer-section {
  width: 45%;
}

.footer-section h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: white;
  opacity: 0.9;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #f39c12;
}

.footer-section a {
  color: black;
  opacity: 0.5;
  text-decoration: none;
  display: block;
  margin: 1px 5;
  font-size: 14px;
  transition: all 0.3s ease;
}

.footer-section a:hover {
  color: #f39c12;
  transform: translateX(3px);
}

.social-icons {
  display: flex;
  gap: 8px;
  justify-content: start;
}

.social-icons a {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.social-icons img {
  width: 80%;
  height: 80%;
  transition: opacity 0.3s ease;
}

.social-icons img:hover {
  opacity: 0.8;
}

.footer-bottom {
  margin-top: 10px;
  border-top: 1px solid #8d8989;
  padding-top: 10px;
  text-align: center;
}

.footer-bottom a {
  color: black;
  opacity: 0.5;
  margin: 0 5px;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-bottom a:hover {
  color: #f39c12;
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  .footer-bottom {
    margin-top: 20px;
  }

  .footer-bottom a {
    margin: 3px 0;
  }

  .social-icons {
    justify-content: center;
    gap: 20px;
  }
}
