.politica_priv {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #333;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin: 2rem auto;
  max-width: 1100px;
}

.politica_priv p {
  font-size: 16px;
  margin-bottom: 1rem;
}

.politica_priv h4 {
  font-size: 20px;
  color: #3e7f6e;
  margin-top: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}
.politica_priv strong {
  font-weight: 600;
  color: #333;
}

.politica_priv br {
  margin-bottom: 1rem;
}

h1 {
  font-size: 28px;
  color: #3e7f6e;
  text-align: center;
  margin-top: 2rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.politica_priv a {
  color: var(--cor-hover);
  text-decoration: none;
  font-weight: bold;
}

.politica_priv a:hover {
  color: var(--cor-hover);
  text-decoration: underline;
}

.politica_priv div {
  margin-bottom: 2rem;
}

@media (max-width: 850px) {
  .politica_priv {
    padding: 1.5rem;
    font-size: 15px;
  }

  .politica_priv h4 {
    font-size: 18px;
  }

  .politica_priv p {
    font-size: 15px;
  }
}

@media (max-width: 550px) {
  .politica_priv {
    padding: 1rem;
    font-size: 14px;
  }

  .politica_priv h4 {
    font-size: 16px;
  }

  .politica_priv p {
    font-size: 14px;
  }
}
