* {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root {
  display: grid;
  grid-template-areas: 
  'cabecalho'
  'principal'
  'rodape';

  grid-template-rows: auto 1fr auto;
}


:root {
  --cor-primaria-clara: #8CC8B2;
  --cor-primaria: #58AF9B;
  --cor-primaria-escura: #3E7F6E;
 
  --cor-secundaria-clara: #F2F0EC;
  --cor-secundaria: #ded9d6;
  --cor-secundaria-escura: #B6B2A8;
 
  --cor-fundo-padrao: #f7f7f7;
 
  --cor-texto-padrao: #1c2025;
  --cor-texto-claro: #fff;
  --cor-texto-cinza: #7c8e94;
 
  --cor-info: #0288d1;
  --cor-sucesso: #1aa251;
  --cor-aviso: #dea500;
  --cor-erro: #eb0014;
 
  --cor-cinza: #99a7bb;
 }
 